<main class="recipe-details-main">
    <div class="container">
        <div class="recipe-title">
            <h2> <%= recipe.title %></h1>
                <form action="/recipe/<%= recipe.id %>?_method=delete" method="POST">
                    <input type="hidden" value="<%=recipe.title%>" name="title">
                    <input type="hidden" value="<%=recipe.ingredients%>" name="ingredients">
                    <input type="hidden" value="<%=recipe.totalCalories%>" name="totalCalories">
                    <input type="hidden" value="<%=recipe.uri%>" name="uri">
                    <input type="hidden" value="<%=recipe.servings%>" name="servings">
                    <input type="hidden" value="<%=recipe.instructions_url%>" name="instructions_url">
                    <input type="hidden" value="<%=recipe.calPerServ%>" name="calPerServ">
                    <input type="hidden" value="<%=recipe.image%>" name="image">
                    <button type="submit" class=" button-style-2 fav "><i class="far fa-trash-alt favIcon"></i> Delete</button>
                  </form>
             
        </div>
        <div class="recipe-img">
            <img class="recipe-img" src="<%= recipe.image%>" alt="img">
        </div>
        <div class="ingredients">
            <h2 class="section-title"><%= recipe.ingredients.length %> Ingredients</h2>
            <ul>
                <% recipe.ingredients.forEach(ingredient => { %>
                <li class="ingredient-row"><span class="circle-ingr"></span> <%= ingredient %></li>
                <%})%>
            </ul>
        </div>
        <div class="nutrition">
            <h2 class="section-title"> Nutrition</h2>
            <div class="nutrition-details">

            <div>
                <h3> <%= recipe.totalcalories %></h3>
                <h5>TOTAL CALORIES</h5>
            </div>

            <div>
                <h3> <%= recipe.calperserv %> </h3>
                <h5>CALORIES / SERVING</h5>
            </div>

            <div>
                <h3> <%= recipe.servings %> </h3>
                <h5>SERVINGS</h5>
            </div>
        </div>

        </div>

        <div class="instructions">
            <h2 class="section-title"> Preperation</h2>
            <div>
                <button class="button-style-2 hvr-back-pulse" onclick="window.location.href='<%= recipe.instructions_url%>'" id="instructions">Get
                    instructions</button>
            </div>
           
        </div>
    </div>
</main>