
<main class="card-container">
  <section class="cards">
    <%recipes.forEach((recipe) => {%>
    <article class="card card--1">
      <div class="card__info-hover">
        <form class="fav" action="/addFav" method="POST">
          <input type="hidden" value="<%=recipe.title%>" name="title">
          <input type="hidden" value="<%=recipe.ingredients%>" name="ingredients">
          <input type="hidden" value="<%=recipe.totalCalories%>" name="totalCalories">
          <input type="hidden" value="<%=recipe.uri%>" name="uri">
          <input type="hidden" value="<%=recipe.servings%>" name="servings">
          <input type="hidden" value="<%=recipe.instructions_url%>" name="instructions_url">
          <input type="hidden" value="<%=recipe.calPerServ%>" name="calPerServ">
          <input type="hidden" value="<%=recipe.image%>" name="image">
          <button type="submit" class="fav"> 
            <i class="far fa-heart card__like favIcon"></i>
          </button>
        </form>
      </div>
      <div class="card__img">
          <img class="card__img" src="<%=recipe.image%>" alt="img">
      </div>
      <a href="/recipeDetails/?uri=<%=recipe.uri%>" class="card_link">
        <div class="card__img--hover">
            <img class="card__img--hover" src="<%=recipe.image%>" alt="img">
        </div>
      </a>
      <div class="card__info">
        <span class="card__category"> Recipe</span>
        <h3 class="card__title"><%=recipe.title%></h3>
        <div class="card-info">
          <span class="card__by"
            ><i class="fas fa-fire"></i
            ><a  class="card__author" title="author"
              ><%=recipe.calPerServ%> Calories</a
            ></span
          >
          <span class="card__by"
            ><i class="far fa-clipboard"></i
            ><a class="card__author" title="author"
              ><%=recipe.ingredients.length%> Ingredients</a
            ></span
          >
        </div>
      </div>
    </article>
    <%});%>
  </section>


</main>

